<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.2">
    <display-name>Mk-JD2-82-21-chat Мессенджер</display-name>

    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>by.it_academy.jd2.Mk_JD2_82_21_chat.controller.filters.EncodingFilter</filter-class>
        <init-param>
            <param-name>requestEncoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>ParamFilter</filter-name>
        <filter-class>by.it_academy.jd2.Mk_JD2_82_21_chat.controller.filters.ParamFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>by.it_academy.jd2.Mk_JD2_82_21_chat.controller.filters.LoginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>EntryFilter</filter-name>
        <filter-class>by.it_academy.jd2.Mk_JD2_82_21_chat.controller.filters.EntryFilter</filter-class>
    </filter>
    <filter>
        <filter-name>RecipientFilter</filter-name>
        <filter-class>by.it_academy.jd2.Mk_JD2_82_21_chat.controller.filters.RecipientFilter</filter-class>
    </filter>

    <filter>
        <filter-name>SecurityFilter</filter-name>
        <filter-class>by.it_academy.jd2.Mk_JD2_82_21_chat.controller.filters.SecurityFilter</filter-class>
    </filter>
    <listener>
        <listener-class>by.it_academy.jd2.Mk_JD2_82_21_chat.controller.listeners.StartTimeListener</listener-class>
    </listener>

    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ParamFilter</filter-name>
        <servlet-name>SingUpCheckServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <servlet-name>SingUpCheckServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>EntryFilter</filter-name>
        <servlet-name>SingInCheckServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RecipientFilter</filter-name>
        <servlet-name>MessageCheckServlet</servlet-name>
    </filter-mapping>

    <filter-mapping>
        <filter-name>SecurityFilter</filter-name>
        <servlet-name>ChatServlet</servlet-name>
        <servlet-name>MessageServlet</servlet-name>
    </filter-mapping>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>

    <context-param>
        <param-name>typeOfSave</param-name>
        <param-value>memory_of_app</param-value>
    </context-param>

</web-app>